.container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    box-shadow: 1px 0px 5px #0a0a0a;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: #d3d3d3;
    font:bold 15px arial;
}
.card-title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 5px;
}
ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.card-body li:nth-child(odd){
    background-color: white;
}
.card-body li:nth-child(even){
    background-color: lightskyblue;
}
li{
    padding: 10px;
}