.conteiner {
    width: 300px;
    height: 500px;
    border: solid 1px black;
    border-radius: 20px;

    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    display: none;
    justify-items: center;
    gap: 1vh;
}

.exibir {
    display: grid;
}
#exibir {
    cursor: pointer;
}

.aprovado {
    color: green;
    margin: 5px;
    border: none;
}

.reprovado {
    color: red;
    margin: 5px;
    border: none;
}
/*body{
    background-color: black;
}
div{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    background-color: black;
    color: whitesmoke;
    font-size: 28px;
    font-family: fantasy;
    line-height: 50px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nome, #nota1, #nota2, #media, #situacao, #conceito{
    height: 26px;
    width: 250px;
    font-size: 26px;
    font-family: fantasy;
    background-color: white;
    color: black;
}
#calc{
    width: 250px;
    height: 50px;
    font-size: 26px;
    font-family: fantasy;
    margin-top: 20px;
}*/