*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #121212;
}
.cadastro-form {
    background-color: #1e1e1e;
    width: 80vw;
    margin: 10vh auto;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #0a0a0a;
}
.titulo{
    background-color: #1e1e1e;
    height: 45px;
    text-align: center;
    font: bolder calc(12px + 1vw)/45px sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 0px 5px #0a0a0a;
    color: #ffffff;
}
.subtitulo{
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    color: #dfdfdf;
}
.subtitulo > div {
    font: bold calc(12px + 1vw)/45px sans-serif;
    text-shadow: 1px 1px 1px black;
}
.botao {
    font: bold calc(2px + 1vw) sans-serif;
    padding: 5px 10px;
    margin: 1vw;
    background-color: white;
    border: 1px solid #0a0a0a;
    border-radius: 5px;
    color: #1e1e1e;
    cursor: pointer;
}
.botao:hover{
    background-color: #1e1e1e;
    border: 1px solid #dfdfdf;
    color: #dfdfdf;
}
.conteiner-modal{
    width: 100vw;
    height: 100vh;
    background-color: #00000070;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
}
.modal{
    width: 50vw;
    margin: 10vh auto;
    background-color: #1e1e1e;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 0px 5px #0a0a0a;
}
.form{
    display: grid;
    grid-template-areas: 
        "nome nome nome nome"
        "email email celular celular"
        "endereco numero bairro bairro"
        "cidade cidade estado cep";
    gap: 10px;
    padding: 2vw;
}

#nome{ grid-area: nome;}
#email{ grid-area: email;}
#celular{ grid-area: celular;}
#endereco{ grid-area: endereco;}
#numero{ grid-area: numero;}
#bairro{ grid-area: bairro;}
#cidade{ grid-area: cidade;}
#estado{ grid-area: estado;}
#cep{ grid-area: cep;}

.form > input{
    width: 100%;
}

.exibir-modal{
    opacity: 1;
    z-index: 999;
}

.acao{
    display: flex;
    justify-content: center;
}