.spinner{
    width: 30px;
    height: 30px;
    animation: spin 3s linear infinite;
    border-radius: 50%;
}

/*COLORS*/
.blue{
    border: 8px solid rgb(127, 127, 255);
    border-top-color: blue ;
}
.red{
    border: 8px solid rgb(255, 127, 127);
    border-top-color: red;
}
.gold{
    border: 8px solid rgb(255, 236, 129);
    border-top-color: gold ;
}
.orange{
    border: 8px solid rgb(255, 210, 126);
    border-top-color: orange ;
}

@keyframes spin{
    to {
        transform: rotate(360deg);
    }
}