*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: 10vh 85vh 5vh;
}

header{
    font: bolder 5vh/10vh arial;
    text-align: center;
    color: white;
    background-color: black;
}
main{
    display: grid;
    grid-template-rows: 10vh 75vh;
}

footer{
    font: bolder 2vh/5vh arial;
    text-align: center;
    color: white;
    background-color: black;
}

.map, .info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}
svg{
    width: 80vw;
    height: 70vh;
}
path:hover{
    fill: rgb(127, 0, 0);
}

.info{
    background-color: rgb(127, 0, 0);
}

path{
    background-color: black;
    color: white;
    stroke: white;
    text-align: center;
    font: bolder 4vh/10vh arial;
    margin-bottom: 5vh;
}

.card {
    height: 10vh;
    width: 20vw;
    text-align: center;
    color: white;
    float: left;

}

.nation{
    background-color: rgb(39, 39, 39);
    font: bolder 5vh/10vh arial;
    text-align: center;
}
.suspect{
    background-color: gold;
}
.confirmed{
    background-color: orange;
}
.dead{
    background-color: red;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    font: bolder 8vh arial;
}

.title{
    font: bolder 3vh/5vh arial;
}